.about__wrapper {
padding-bottom: 86rem;
}

.about__title {
  color: #512a18;
  font-family: $font-default;
  font-size: 36rem;
  font-weight: 500;
  line-height: 24rem;
  margin: 0;
  margin-bottom: 69rem;
}

.about__description {
  color: #512a18;
  font-family: $font-default;
  font-size: 16rem;
  font-weight: 400;
  line-height: 24rem;
  margin: 0;
  margin-bottom: 20rem;
}
