.delivery__title {
  color: #512a18;
  font-family: $font-default;
  font-size: 36rem;
  font-weight: 500;
  line-height: 24rem;
  margin: 0;
  margin-bottom: 86rem;
}

.delivery__list {
  @include list-reset;
}

.delivery__item-wrapper {
  border-bottom: 1rem solid rgba($color: #9c897b, $alpha: 0.2);
  padding-bottom: 32rem;
  width: 100%;
}

.delivery__item:last-child .delivery__item-wrapper {
  border: none;
}

.delivery__item {
  display: flex;
  margin-bottom: 34rem;
}

.delivery__icon-wrapper {
  min-width: 114rem;
  max-width: 114rem;
  margin-right: 59rem;
}

.delivery__icon--pay {
  min-width: 100rem;
  width: 100rem;
  height: 101rem;
}

.delivery__icon--delivery {
  min-width: 114rem;
  width: 114rem;
  height: 100rem;
}

.delivery__icon--office {
  min-width: 88rem;
  width: 88rem;
  height: 101rem;
}

.delivery__icon--post {
  min-width: 110rem;
  width: 110rem;
  height: 71rem;
}

.delivery__icon--transport {
  min-width: 114rem;
  width: 114rem;
  height: 99rem;
}

.delivery__name {
  color: #512a18;
  font-family: $font-additional;
  font-size: 24rem;
  font-weight: 700;
  line-height: 24rem;
  margin: 0;
  margin-bottom: 31rem;
}

.delivery__info {
  color: #9c897b;
  font-family: $font-default;
  font-size: 16rem;
  font-weight: 700;
  line-height: 24rem;
  margin: 0;
}

.delivery__description {
  color: #9c897b;
  font-family: $font-default;
  font-size: 16rem;
  font-weight: 400;
  line-height: 24rem;
  margin: 0;
  max-width: 821rem;
}

.delivery__list {
  font-family: $font-default;
  font-size: 16rem;
  font-weight: 500;
  line-height: 24rem;
  color: #512a18;
  list-style: none;
  padding: 0;
  margin: 0;
}

.delivery__list-item {}

.delivery__description--special {
  color: #ef5e5e;
}

.delivery__description--info {
  color: #512a18;
}

.delivery__description--additional {
  font-weight: 500;
}

.delivery__description--link {
  color: #4868ef;
}
