.footer {
  background-color: #512a18;
}

.footer__wrapper {
  padding: 70rem 0;
  background-image: url("../../img/footer-background.png");
  background-repeat: no-repeat;
  background-position: 100% 100%;
  display: flex;
  align-items: center;
  background-size: 550rem 120rem;
}

.footer__logo {
  margin-right: 91rem;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 158rem;
}

.footer__contacts-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.footer .navigation__list {
  flex-direction: column;
}

.navigation__list--menu .navigation__link {
  text-decoration: underline;
  font-size: 16rem;
  line-height: 36rem;
}

.navigation__list--category .navigation__link {
  color: #ffffff;
  text-decoration: underline;
  font-size: 16rem;
  font-weight: 500;
  line-height: 36rem;
}

.footer .navigation__item {
  margin: 0;
}

.footer .contacts {
  display: flex;
  flex-direction: column;
}

.footer .contacts__phone {
  color: #ffffff;
  line-height: 36rem;
}

.footer .contacts__mail {
  color: #ffffff;
  line-height: 36rem;
}

.copyright {
  display: flex;
  flex-direction: column;
}

.copyright__title {
  color: #9c897b;
  font-family: $font-default;
  font-size: 16rem;
  font-weight: 400;
  line-height: 36rem;
  margin: 0;
}

.copyright__design {
  font-family: $font-default;
  font-size: 16rem;
  font-weight: 400;
  line-height: 36rem;
  color: #efe6d6;
  text-decoration: underline;
  margin: 0;
}
