.header {
  background: $background-header-default;
  min-height: 800px;
}

.header--wholesalers {
  background: $background-header-default url("../img/background-wholesalers.jpg");
}

.header--wholesalers .logo__icon path {
  fill: #efe6d6;
}

.header--wholesalers .header__phone {
  color: #ffffff;
}

.header--wholesalers .header__mail {
  color: #efe6d6;
}

.header--wholesalers .header__bottom .navigation__link {
  color: #ffffff;
}

.header--wholesalers .header__cart-title {
  color: #efe6d6;
}

.header--wholesalers .header__slider {
  display: flex;
  flex-direction: column;
  min-width: 1300px;
  max-width: 1300px;
}

.header--wholesalers .header__content-wrapper {
  margin-bottom: 170rem;
}

.header--wholesalers .header__wrapper {
  padding-bottom: 300rem;
}

.header__content-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 70rem;
}

.header__wrapper {
  display: flex;
  align-items: center;
  // padding-top: 16rem;
  // padding-bottom: 23rem;
  min-height: 170rem;
  flex-direction: column;
  position: relative;
}

.header__contacts {
  display: flex;
}

.header__phone {
  font-family: $font-default;
  font-size: 24rem;
  font-weight: 500;
  line-height: 24rem;
  color: #512a18;
  text-decoration: none;
  max-width: 204rem;
  width: 100%;
  margin-right: 57rem;
}

.header__mail {
  font-size: 16rem;
  font-weight: 400;
  line-height: 24rem;
  color: #512a18;
  text-decoration: none;
  max-width: 152rem;
  width: 100%;
}

.header__content {
  display: flex;
  flex-direction: column;
  max-width: 1107rem;
  width: 1107rem;
}

.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // height: 40rem;
  // padding-bottom: 30rem;
  border-bottom: 1rem solid rgba($color: #512a18, $alpha: 0.2);
  // opacity: 0.2;
  padding: 18rem 0;
}

.header__top .navigation__list {
  max-width: 428rem;
  width: 428rem;
  // margin-right: 120rem;
}

.header__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // height: 50rem;
  // padding-top: 19rem;
  padding: 18rem 0;
}

.header__bottom .navigation__list {
  max-width: 462rem;
  width: 462rem;
  // margin-right: 120rem;
}

.header__bottom .navigation__link {
  color: #512a18;
  font-family: $font-additional;
  font-size: 18rem;
  font-weight: 400;
  line-height: 24rem;
  position: relative;
}

.header__bottom .navigation__link-info {
  position: absolute;
  bottom: 12px;
  right: -12px;
}

.header__bottom .navigation__link:hover,
.header__bottom .navigation__link:focus {
  color: #eb936b;
}

.header__bottom .navigation__link--active {
  color: #eb936b;
}

.header__social {
  // margin-left: auto;
  // margin-right: 53rem;
}

.header__logo {
  margin-right: auto;
}

.header__cart {
  display: flex;
}

.header__cart-info {
  display: flex;
  flex-direction: column;
}

.header__cart-title {
  color: #512a18;
  font-family: $font-default;
  font-size: 16rem;
  font-weight: 500;
  margin: 0;
}

.header__cart-products {
  color: #9c897b;
  font-family: $font-default;
  font-size: 14rem;
  font-weight: 400;
  margin: 0;
  text-transform: lowercase;
}

.header__cart-icon {
  width: 30rem;
  height: 34rem;
  margin-right: 12rem;
}
