.navigation {}

.navigation__list {
  @include list-reset;
  display: flex;
}

.navigation__item {
  margin-right: auto;
}

.navigation__item:last-child {
  margin-right: 0;
}

.navigation__link {
  color: #9c897b;
  font-family: $font-default;
  font-size: 16rem;
  font-weight: 400;
  line-height: 24rem;
  text-decoration: none;
}
