.products {
  max-width: 857rem;
  width: 100%;
  margin-right: auto;
}

.products__list {
  @include list-reset;
}

.products__item {
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-bottom: 14rem;
  border-bottom: 1rem dashed #cfc0b0;
  margin-bottom: 34rem;
}

.products__image-wrapper {
  width: 100rem;
  height: 98rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-right: 32rem;
}

.products__image {}

.products__description {
  color: #512a18;
  font-family: $font-default;
  font-size: 12rem;
  font-weight: 500;
  margin: 0;
  margin-right: 61rem;
}

.products__name {
  font-size: 14rem;
  line-height: 18rem;
  text-decoration: underline;
  margin: 0;
}

.products__options {
  color: #9c897b;
  line-height: 24rem;
  margin: 0;
}

.products__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
}

.products__list-item {
  line-height: 18rem;
}

.products__discount {
  color: #ef5e5e;
  line-height: 24rem;
}

.products__controls {
  display: flex;
  align-items: center;
  margin-right: 52rem;
}

.products__controls-remove {
  width: 38rem;
  height: 38rem;
  border: 1rem solid #cfc0b0;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.products__controls-quantity {
  width: 60rem;
  height: 38rem;
  border-radius: 4rem;
  background-color: #f5f2ef;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
  margin: 0 10rem;
}

.products__controls-add {
  width: 38rem;
  height: 38rem;
  border: 1rem solid #cfc0b0;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.products__price {
  color: #9c897b;
  font-family: $font-default;
  font-size: 14rem;
  font-weight: 400;
  line-height: 24rem;
  display: flex;
  flex-direction: column;
  margin-right: 44rem;
}

.products__price-old {
  text-decoration: line-through;
}

.products__price-new {
  color: #512a18;
  font-size: 18rem;
  font-weight: 500;
}

.products__delete {
  width: 38rem;
  height: 38rem;
  background-color: #f6f5f3;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.products__delete-image {}

.product__adress-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 664rem;
}

.product__adress {
  color: #9c897b;
  font-family: $font-default;
  font-size: 14rem;
  font-weight: 400;
  line-height: 24rem;
  width: 302rem;
  height: 50rem;
  border-radius: 25rem;
  background: rgba($color: #cfc0b0, $alpha: 0.2);
  margin-bottom: 40rem;
}

.product__adress-label {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}

.product__adress-label span {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 0 24rem;
}

.product__adress-label select {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.product__adress-label span img {
  width: 16rem;
  height: 8rem;
}

.product__adress-label input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 0 24rem;
  background: none;
  border: none;
}

.product__adress-textarea {
  width: 100%;
  min-height: 115rem;
  border-radius: 4rem;
  color: #9c897b;
  font-family: $font-default;
  font-size: 14rem;
  font-weight: 400;
  line-height: 24rem;
  background: rgba($color: #cfc0b0, $alpha: 0.2);
  border: none;
  padding: 18rem 24rem;
  resize: none;
}
