.reviews__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.reviews__item {
  max-width: 625rem;
  margin-bottom: 38rem;
}

.reviews__title {
  color: #512a18;
  font-family: $font-default;
  font-size: 36rem;
  font-weight: 500;
  line-height: 24rem;
  margin: 0 0 101rem 0;
}

.reviews__name {
  color: #512a18;
  font-family: $font-additional;
  font-size: 18rem;
  font-weight: 700;
  line-height: 24rem;
  margin: 0 0 10rem 0;
  display: block;
}

.reviews__description {
  color: #512a18;
  font-family: $font-default;
  font-size: 16rem;
  font-weight: 400;
  line-height: 24rem;
  margin: 0;
}
