.search {
  width: 425rem;
  height: 50rem;
  border-radius: 25rem;
  background-color: rgba($color: #cfc0b0, $alpha: 0.2);
  position: relative;
  appearance: none;
}

.search__field {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: none;
  border-radius: 25rem;
  border: none;
  padding: 18rem 50rem 18rem 29rem;
  color: #9c897b;
  font-family: $font-additional;
  font-size: 14rem;
  line-height: 24rem;
  font-style: italic;
  font-weight: 400;
}

.search__icon {
  position: absolute;
  top: 16rem;
  right: 23rem;
}
