.slider {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.slider-wholesalers {
  @include list-reset;
  display: flex;
}

.slider__info {
  width: 856rem;
}

.slider__preview {
  width: 330rem;
  position: relative;
}

.slider__special-wrapper {
  position: absolute;
  top: 65rem;
  left: -65rem;
}

.slider__special {
  width: 131rem;
  min-height: 131rem;
  height: 131rem;
  border-radius: 50%;
  background-color: #000000;
  margin-bottom: 20rem;
  color: #ffffff;
  font-family: $font-default;
  font-size: 51rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider__special:last-child {
  margin-bottom: 0;
}

.slider__special--discount {
  font-family: $font-additional;
  font-style: italic;
  font-size: 51rem;
  background-color: #ef5e5e;
}

.slider__special--hit {
  background-color: #8ccf56;
}

.slider__category {
  color: #9c897b;
  font-family: $font-default;
  font-size: 24rem;
  font-weight: 400;
  line-height: 24rem;
  margin: 0;
  margin-bottom: 30rem;
}

.slider__title {
  color: #512a18;
  font-family: $font-additional;
  font-size: 48rem;
  font-weight: 700;
  font-style: italic;
  line-height: 24rem;
  margin: 0;
  margin-bottom: 30rem;
}

.slider__description {
  color: #9c897b;
  font-family: $font-additional;
  font-size: 14rem;
  line-height: 24rem;
  font-style: italic;
  margin: 0;
  margin-bottom: 65rem;
}

.slider__list {
  @include list-reset;
  display: flex;
  margin-bottom: 64rem;
}

.slider__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 52rem;
}

.slider__item:last-child {
  margin-right: 0;
}

.slider__old-price {
  color: #9c897b;
  font-family: $font-default;
  font-size: 24rem;
  font-weight: 400;
  text-decoration: line-through;
  margin-bottom: 20rem;
}

.slider__price {
  color: #ef5e5e;
  font-family: $font-default;
  font-size: 36rem;
  font-weight: 700;
  line-height: 24rem;
  margin: 0;
  white-space: nowrap;
}

.slider__weight {
  color: #512a18;
  font-family: $font-additional;
  font-size: 24rem;
  font-style: italic;
}

.slider__link {
  color: #512a18;
  font-family: $font-default;
  font-size: 16rem;
  font-weight: 400;
  width: 192rem;
  height: 50rem;
  border-radius: 25rem;
  border: 1rem solid #512a18;
  background-color: #efe6d6;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-transform: uppercase;
}

.slider__link:hover {
  background: #eb936b;
  color: #ffffff;
  border-color: #eb936b;
}

.slider__info {
  color: #efe6d6;
  font-family: $font-default;
  font-size: 24rem;
  font-weight: 400;
  line-height: 24rem;
  margin: 0;
  margin-bottom: 27rem;
}

.slider__name {
  color: #ffffff;
  font-family: $font-additional;
  font-style: italic;
  font-size: 48rem;
  font-weight: 500;
  line-height: 1.4;
  margin: 0;
}

.slider-header {
  @include list-reset;
  // max-width: 1300px;
  width: 100% !important;
  display: flex !important;
}

.slider-wholesalers {
  @include list-reset;
  // max-width: 1300px;
  width: 100% !important;
  display: flex !important;
}

.slick-list {
  width: 100% !important;
}

.slick-track {
  width: 100% !important;
  display: flex !important;
}

.slick-slide {
  min-width: 1300rem !important;
  max-width: 1300rem !important;
  display: flex !important;
}

.slider-header .slick-dots,
.slider-wholesalers .slick-dots {
  bottom: 50rem;
  right: 400rem;
  width: auto;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 16rem;
  height: 16rem;
  padding: 0;
  cursor: pointer;
  color: transparent;
  outline: none;
  border: 1rem solid #cfc0b0;
  background-color: #ffffff;
  border-radius: 50%;
}

.slick-dots li button::before {
  font-family: 'slick';
  font-size: 10rem;
  line-height: 18rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 16rem;
  height: 16rem;
  content: '•';
  text-align: center;
  opacity: 1;
  color: transparent;
}

.slick-dots li.slick-active button::before {
  font-family: 'slick';
  font-size: 10rem;
  line-height: 18rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 16rem;
  height: 16rem;
  content: '•';
  text-align: center;
  opacity: 1;
  color: #9c897b;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.controls {
  width: 100%;
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: space-between;
}

.slider__controls-prev {
  position: absolute;
  left: -50rem;
}

.slider__controls-prev img {
  width: 21rem;
  height: 40rem;
}

.slider__controls-next.slick-arrow {
  position: absolute;
  right: -50rem;
}

.slider__controls-next {
  position: absolute;
  right: -50rem;
}

.slider__controls-next img {
  width: 21rem;
  height: 40rem;
  transform: rotate(180deg);
}
