.social {
// max-width: 95rem;
// width: 95rem;
}

.social__list {
  @include list-reset;
  display: flex;
}

.social__item {
margin-right: 13rem;
}

.social__item:last-child {
  margin-right: 0;
}


