.social__list {
  @include list-reset;
  display: flex;
}

.social__item {
  margin-right: 13rem;
}

.social__item:last-child {
  margin-right: 0;
}

.social__icon:hover .icon-background {
  fill: #efe6d6;
}

.social__icon:hover .icon-border {
  stroke: #cfc0b0;
}

.social__icon:hover .icon-item {
  fill: #9c897b;
}

.social__icon:hover .icon-background--special {
  fill: #ffffff;
}

.social__icon:hover .icon-border--special {
  stroke: #cfc0b0;
}

.social__icon:hover .icon-item--special {
  fill: #512a18;
}

.social__icon {
  min-width: 41rem;
  max-width: 41rem;
  height: 40rem;
}
